POSTGRES_DB=careerhub
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

DB_HOST=db
DB_PORT=5432
DB_NAME=careerhub
DB_USERNAME=postgres
DB_PASSWORD=1234

JWT_SECRET=Q2FyZWVySHViLURlbW9LZXktMjAyNi1ub3QtcHJvZHVjdGlvbi1zZWNyZXQ=
JWT_EXPIRATION=3600000

JPA_SHOW_SQL=false